<html>
  <head>
    <title>Main | GoNode - Desafio 1</title>
  </head>
  <body>
    <form action="/check" method="POST">
      <input name="name" placeholder="Nome" type="text" />
      <input name="birthDate" placeholder="Data de Nascimento" type="text" />
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
